<!--
    py-3 padding bottom and top
    mt-auto margin top auto, the footer goes at the bottom of the page even if there's not enough content displayed
 -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2022 - Matteo Buldrini</span>
    </div>
</footer>